.stats-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 2rem;
    text-align: center;
    margin-top: 4rem;
background-color:  #262626    ;
color: white;
padding: 4rem 0;
  .stat {
    .stat-value {
      font-size: 2rem;
      font-weight: bold;
    }

    .stat-label {
      margin-top: 0.25rem;
      font-size: 0.875rem;
    }
  }
}