.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 100px;
    padding:0 6rem ;
  }
  
  .logo {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .navLinks {
    display: flex;
    align-items: center;
    gap: 2rem;
    justify-content: flex-start;
    padding: 0 6rem;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: black;
  }
  .navLinks a{
    text-decoration: none;
    color: inherit;
  }
  
  .navLink {
    text-decoration: none;
    transition: color 0.3s ease;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: black;
  }
  .navLink.active{
    color: #8F9DAA;
  }

  .start_button{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .start_button .startProject {
    background-color: #262626;
    color: #fff;
    padding: 0.5rem 1rem;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  

  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdownButton {
    background: none;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  
  .arrow {
    font-size: 0.8rem;
  }
  
  .dropdownContent {
    display: none;
    position: absolute;
    background-color: #262626;
    color: #fff;
    min-width: 200px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 4px;
  }
  
  .dropdownContent.show {
    display: block;
  }
  
  .dropdownContent a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
 
  .dropdownContent a:hover {
    background-color: #444;
  }
  
  .hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    z-index: 10;
  }
  
  .hamburger span {
    width: 100%;
    height: 3px;
    background-color: white;
    transition: all 0.3s ease;
  }
  @media (max-width: 1060px) {
    .navbar{
    padding:0 2rem ;
    }

  }
  
  @media (max-width: 768px) {
    .navbar{
    padding:0 0.4rem ;
    }
    .hamburger {
      display: flex;
    }
  
    .navLinks {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      background-color: #000;
      padding: 1rem;
      gap: 1rem;
    }
  
    .navLinks.active {
      display: flex;
    }
  
    .dropdown {
      width: 100%;
    }
  
    .dropdownContent {
      position: static;
      width: 100%;
      box-shadow: none;
      margin-top: 0.5rem;
    }
  
    .dropdownContent.show {
      display: block;
    }
  
    .startProject {
      width: 100%;
      text-align: center;
    }
  }
  
  